{% extends 'base.html.twig' %}

{% block title %}Nouvelle Marque{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 mb-4">Créer une nouvelle marque</h1>

        {{ include('brands/_form.html.twig') }}

        <a href="{{ path('app_brands_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
